<h1>Kia Ora, whanua! Keen for a beer?</h1>

<h2>Pick your watering hole:</h2>
<% @microbreweries.each do |microbrewery| %>
  <li><a href="/microbreweries/<%= microbrewery.id %>"><%= microbrewery.name %></a></li>
<% end %>