<h1>Hey, hey! Welcome to the tea lounge.</h1>

<h2>Where shall we have our cuppa tea today?</h2>

<% @teahouses.each do |tea_house| %>
  <li><a href="/teahouses/<%= tea_house.id %>"><%= tea_house.name %></a></li>
<% end %>
